{% extends 'base.html' %}
{% block header %}
    {% include 'partials/common/header.common.html' %}
{% endblock %}

{% load static %}

{% block custom_css %}

    <link rel="stylesheet" href="{% static "css/about.css" %}">
    <link rel="stylesheet" href="{% static "css/header.css" %}">

{% endblock %}

{% block main_content %}

    <section class="hero">
    <p class="hero__text">Мы команда профессионалов, практикующая в этой
        сфере достаточно давно, чтобы приобрести бесценный
        опыт, но еще не так много, чтобы пропало желание
        продолжать практику.
        <br>
        <br>
        Мы сами часто оказываемся на месте клиента в нашей
        повседневной жизни, поэтому кроме профессионализма и
        качества оказываемых услуг еще одной основной задачей
        считаем клиенто ориентированность.
        <br>
        <br>
        Если Вас не устраивает качество наших услуг или Вы
        хотите обсудить сотрудничество, Вы можете связаться с
        Нашим Генеральным директором напрямую.
        <br>
        <br>
        +7 (916) 105 08 04
        <br>
        С уважением,
        Генеральный директор
        <br>
        ООО «АйСиЭй Групп»
        <br>
        Говоруха Янина
    </p>
</section>

{% endblock %}