.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.875em 0;
  border-bottom: 2px solid #ffffff;
}

.header__logo {
  margin: 0;
  padding-left: 40px;
  font-size: 2.25em;
}

.header--nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.25em;
  padding-right: 40px;
}

.header--nav a {
  color: #ffffff;
  text-decoration: none;
  margin-right: 1.5625em;
  cursor: pointer;
}

.header--nav a:last-child {
  margin-right: 0;
}

.header--nav a:hover {
 color: #E20338;
}

.top {
  background: #44657C;
  padding: 0 12.5em;
  padding-bottom: 30px;
  color: #ffffff;
}

.top__title {
  font-weight: 400;
  font-size: 2.8em;
  margin: 30px auto 0 40px;
}

@media screen and (max-width: 1500px) {
  .top {
    padding: 0 5.5em;
    padding-bottom: 30px;
  }
  .top__title {
    font-size: 2.5em;
  }
  .header {
    padding: 1.6em 0;
  }
  .header__logo {
    font-size: 2em;
  }
}

@media screen and (max-width: 1024px) {
  .header {
    padding: 1.4em 0;
  }
  .header__logo {
    font-size: 2em;
  }
  .header--nav {
    font-size: 1em;
  }
  .top {
    padding: 0 2em;
    padding-bottom: 20px;
  }
  .top__title {
    margin: 20px auto 0 40px;
    font-size: 2em;
  }
}

@media screen and (max-width: 1024px) {
  .header--nav {
    display: none;
  }
}